.Detail {
    display: flex;
    flex-direction: column;
    padding: 110px 0  40px 40px;
    margin: 0 auto;
}

.Detail .button {
  padding: 0 0 0 0;
}

.Detail p {
  font-size: 25;
  margin: 0 0 0 0;
}

.title {
  font-size: 30px;
}

.address h5 {
  text-decoration: underline;
  padding: 0 0 10px 0;
}

.details h5 {
  text-decoration: underline;
  padding: 0 0 10px 0;
  margin: 20px 0 0 0;
}

.charge h5 {
  text-decoration: underline;
  padding: 0 0 10px 0;
  margin: 20px 0 0 0;
}

.charge {
  margin-bottom: 50px;
}