.ResultCard {
  background-color: #F8F8F8;
  margin: 20px;
  border: 3px solid #28a745 !important;
  border-radius: 15px !important;
} 

.ResultCard p {
  padding: 0px;
  margin: 0px;
}

.ResultCard .address {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ResultCard .notes {
  margin: 10px 0px 20px 0px;
}

.ResultCard .buttonLink {
  color: white !important;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

