.Search p {
    font-size: 10px;
    font-weight: 600;
}

.Search input {
    box-sizing: border-box;
    padding: 6px 10px;
    margin: 0 15px 0 0 ;
}

.Search h2 {
    font-size: 30px;
}

.Search {
    display: flex;
    flex-direction: column;
    padding: 110px 0px 40px 0px;
    margin: 0 auto;
    width: 780px;
}

.Search .searchWindow {
    border: 5px solid black;
    border-radius: 15px;
    padding: 10px 0 0 30px;
}

.Search .searchContainer {
    display: flex;
    justify-content: flex-start;
}

.Search .searchTitle p {
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 10px;
}

@media (max-width: 850px) {

    .Search {
        width: 360px;
    }
    .Search .searchContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

.Search .button {
    padding: 20px 0 20px 0; 
}

.Search .or {
    text-align: center;
}